@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.post-content p{
    margin-bottom: 0.5rem;
}

.post-content h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: sans-serif;
    margin: 1.5rem 0;
}
.post-content h3{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: sans-serif;
    margin: 1rem 0;
}

.post-content a{
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover{
    text-decoration: underline;
}

.dark .post-content a{
    color: rgb(147, 236, 246);
}

.bgimg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.signin {
    display: flex;
    justify-content: center;
    align-items: center;
}